@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
*{
	animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes background {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green; }
    100% {background-color:red;}
}
#cube,#cube2,#cube3,#cube4{
	width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: wtf;
    animation-iteration-count: infinite;
    animation-direction: reverse; 
}
#cube{
	animation-duration: 1s;
}
#cube2{
	animation-duration: 0.5s;
}
#cube3{
	animation-duration: 1.5s;
}
#cube4{
	animation-duration: 2s;
}
#cube2,#cube3{
	float:right;
  	margin-right: 20px;
}
#cube3,#cube4{
	margin-top:300px;
}

#groscube{
    background-color: red;
    position: relative;
    animation-name: groscube;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: reverse; 
}
@keyframes groscube {
    0%   {background-color:red; left:200px; top:0px;}
    25%  {background-color:yellow; left:200px; top:200px;}
    50%  {background-color:blue; left:-200px; top:200px;}
    75%  {background-color:green; left:-200px; top:-200px;}
    100% {background-color:red; left:200px; top:-200px;}
}
#rubriques {
    width:700px;
    height:26px;
    background-repeat:no-repeat;
    margin:auto;
}
 
.pointeur {
    margin-left:10px;
    margin-right:10px;
}
@keyframes wtf {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
h2{
	text-align: center;
}
.container{
	
}
.main,.mainUnePersonne{
	font-family: 'Droid Serif', serif;
	animation-name: wtf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
	width: 450px;
	float:left;
	padding: 10px 60px 40px;
	box-shadow: 0 0 10px;
	border-radius: 15px 50px;
	font-size: 13px;
	margin-top: 209px;
	margin-left: 497px;
}
.mainUnePersonne{
	width: 780px;
	margin-left: 396px;
}
#index{
	margin-top: 0px;	
	margin-bottom:300px;)
}
.erreur{
	margin-top: -6px;
	margin-bottom: 13px;
	color: #F00;
	display: block;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	font-weight: bold;
}
.labelNom{
	margin-left:113px;
}
.labelNumIdent,.labelNom{
	color: #464646;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	font-weight: bold;
}
.AffichageOne,.AffichageListe,.AffichageAllNom{
	background-color: #e6e6e6;
	border: 2px solid #008CBA;
    color: black;
    text-shadow: 0 1px 0 #fff;
    margin-top: 15px;
    padding: 5px 5px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.AffichageOne:hover,.AffichageListe:hover,.AffichageAllNom:hover,.yolo:hover{
    background-color: #008CBA;
    color: white;
}
.AffichageListe{
	margin-left: 128px;
}
.AffichageAllNom{
	margin-left: 57px;
	width : 192px;
}
.labelNom{
	margin-left:113px;
}
.numIdent,.nom{ 
    background: #D3D3D3;
    background: -moz-linear-gradient(top, #D3D3D3 0%, #D9D9D9 38%, #E5E5E5 82%, #E7E7E7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D3D3D3), color-stop(38%, #D9D9D9), color-stop(82%, #E5E5E5), color-stop(100%, #E7E7E7));
    background: -webkit-linear-gradient(top, #D3D3D3 0%, #D9D9D9 38%, #E5E5E5 82%, #E7E7E7 100%);
    background: -o-linear-gradient(top, #D3D3D3 0%, #D9D9D9 38%, #E5E5E5 82%, #E7E7E7 100%);
    background: -ms-linear-gradient(top, #D3D3D3 0%, #D9D9D9 38%, #E5E5E5 82%, #E7E7E7 100%);
    background: linear-gradient(to bottom, #D3D3D3 0%, #D9D9D9 38%, #E5E5E5 82%, #E7E7E7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#e7e7e7', GradientType=0 );
    padding: 5px 20px;
    color: #999;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #FFF;
    border: 1px solid rgba(16, 103, 133, 0.6);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5), inset 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    outline: 0;
    width: 150px;
    margin-top:10px;
  } 
.nom{
  	margin-left:56px;
}

/* INPUT YOLO CSS ANIMATION */

.yolo{
	width: 165px;
	height: 47px;
	background: none repeat scroll 0% 0% #92B901;
	color: #FFF;
	position: relative;
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
	animation: 1s ease 0s normal none infinite running animated_div;
	border-radius: 57px;
	margin-left:300px;
	margin-top:150px;
}

@keyframes animated_div {
    0%   {background-color:red;transform: rotate(0deg);left: 0px; top: 0px;}
    25%  {background-color:yellow;transform: rotate(360deg);left: 800px; top: 0px;}
    50%  {background-color:blue;transform: rotate(0deg);left: 800px; top: 470px;}
    75%  {background-color:green;transform: rotate(-360deg);left: 0px; top: 470px;}
    100% {background-color:red;transform: rotate(0deg);left: 0px; top: 0px;}
}
