
#animated-gif-container {
        
  width:370px;
  height:200px; 
  margin-right: 20px;
  background: #e0ffc7 url(https://media.giphy.com/media/W80Y9y1XwiL84/giphy.gif) no-repeat center center;
  
}

